
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}
button {
    padding: 50px 20px;
    border-radius: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
